@use "general/fonts" as font;

$select-background:#4f4f4f;
$select-color: #fff;
$select-width: 220px;
$select-height: 40px;
$select-cursor: pointer;
$select-display: inline-block;
$select-position: relative;

$select: (
        background: $select-background,
        color: $select-color,
        width: $select-width,
        height: $select-height,
        font-size: font.$m_font,
        cursor: $select-cursor,
        display: $select-display,
        position: $select-position,
);