.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background: linear-gradient(to right, black, #410000);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;


    .modal-title{
      color: mintcream;
      display: flex;
      flex-direction: column;
      &>*{
        display: block;
      }
    }

    .modal-close {
      position: absolute;
      top: 10px;
      right: 10px;
      left: auto;
      bottom: auto;
      background: none;
      border: none;
      font-size: 24px;
      color: white;
      cursor: pointer;
    }
  }

}
