@use "../../layout/_themes/global" as global;

.home{
  @include global.themify("home-container");
}
.slider {
  @include global.themify("slider");

  .slider-content {
    @include global.themify("slider-content");
  }
  .slider-title {
    @include global.themify("slider-title");
  }
  .slider-description {
    @include global.themify("slider-description");
  }
  .slider-button {
    @include global.themify("slider-button");
  }
  .slider-button-hover {
    @include global.themify("slider-button-hover");
  }
}
.slider-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
/* Дополнительные стили для Swiper */
.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #ff6f61;
}/* Основной контейнер */

.slider-button:hover {
  background-color: #e55d50;
}
/* Изображение */
.slider-image {
  flex: 1; /* Занимает доступное пространство */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image img {
  max-width: 100%;
  height: auto;
  margin-top: -100px;
}