$contact-us-font-family: Arial, sans-serif;
$contact-us-color: white;
$contact-us-background: linear-gradient(to right, black, #044100);
$contact-us-display: flex;
$contact-us-width: 100%;
$contact-us-height: 100%;
$contact-us-min-height: 100vh;