$contact-form-input-padding: 10px;
$contact-form-input-margin-top: 5px;
$contact-form-input-width: 80%;
$contact-form-input-border: 1px solid #ccc;
$contact-form-input-border-radius: 5px;
$contact-form-input-outline: none;