$contact-form-button-margin-top: 20px;
$contact-form-button-padding: 10px;
$contact-form-button-background-color: #28670e;
$contact-form-button-border: none;
$contact-form-button-border-radius: 5px;
$contact-form-button-cursor: pointer;
$contact-form-button-transition: background-color 0.3s;