$home-container-width: 100%;
$home-container-height: 100vh;
$home-container-display: flex;
$home-container-align-items: center;
$home-container-justify-content: center;
$home-container-background-color: #f5f5f5;
$home-container-overflow: hidden;