$product-image-container-display: flex;
$product-image-container-margin-top: -50px;
$product-image-container-margin-left: 150px;
$product-image-container-position: relative;
$product-image-container-justify-content: space-between;
$product-image-container-align-items: center;
$product-image-container-z-index: 2;