$product-percentage-display: none;
$product-percentage-position: absolute;
$product-percentage-top: 5px;
$product-percentage-right: 5px;
$product-percentage-bottom: auto;
$product-percentage-left: auto;
$product-percentage-background: red;
$product-percentage-border-radius: 5px;
$product-percentage-color: #fff;
$product-percentage-padding: 5px 10px;