$product-wrapper-background: rgba(1, 1, 1, 0.1);
$product-wrapper-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$product-wrapper-width: fit-content;
$product-wrapper-position: relative;
$product-wrapper-border-radius: 30px;
$product-wrapper-overflow: hidden;
$product-wrapper-height: 180px;
$product-wrapper-background-size: cover;
$product-wrapper-display: flex;
$product-wrapper-flex-direction: column;
$product-wrapper-justify-content: space-between;
$product-wrapper-padding: 20px;
$product-wrapper-border: 1px solid rgba(255, 255, 255, 0.2);