$slider-button-font-size: 0.95rem;
$slider-button-padding:12px 25px;
$slider-button-background-color: #69ef26;
$slider-button-color: white;
$slider-button-border: 0px solid #f15e2c;
$slider-button-border-radius: 20px;
$slider-button-cursor: pointer;
$slider-button-text-decoration: none;
$slider-button-transition: background-color 0.3s;