$slider-width: 100%;
$slider-height: 100%;
$slider-display: flex;
$slider-align-items: center;
$slider-justify-content: left;
$slider-background: linear-gradient(to right, black , #074100);
$slider-text-align: hidden;
$slider-z-index: 2000;
$slider-position: hidden;