$card-position: relative;
$card-width: 19%;
$card-height: 30%;
$card-margin-right: 300px;
$card-margin-top: 150px;
$card-padding: 20px;
$card-color: #010101;
$card-background: white;
$card-border-radius: 10px;
$card-display: flex;
$card-flex-direction: column;
$card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);