$product-image-grid-area: i;
$product-image-width: 300px;
$product-image-aspect-ratio: 1;
$product-image-max-width: 80px;
$product-image-max-height: 80px;
$product-image-border-radius: 50px;
$product-image-box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);