$product-image-background-position: absolute;
$product-image-background-background: url('../../../../assets/images/sliderHome/cardProduct.png') no-repeat center center;
$product-image-background-width: 100%;
$product-image-background-height: 120px;
$product-image-background-margin-top: 65px;
$product-image-background-z-index: 1;
$product-image-background-box-shadow: 240px 0 200px 0 rgba(255, 255, 255, 0.5);