@use "variables/select" as select;
@forward "variables/select";

@use "variables/nav" as nav;
@forward "variables/nav";

@use "variables/general/fonts" as font;
@forward "variables/general/fonts";

//nav section
$nav-section-background: transparent;
$nav-section-display: flex;
$nav-section-gap: 50px;
$nav-section-align-items: center;

//nav section-left
$nav-section-left-display: flex;
$nav-section-left-gap: 20px;
$nav-section-left-align-items: center;

//nav section-right
$nav-section-right-display: flex;
$nav-section-right-gap: 20px;
$nav-section-right-align-items: center;

//nav link
$nav-link-font-size: 16px;
$nav-link-text-transform: uppercase;
$nav-link-padding: 5px 10px;
$nav-link-transition: all 0.3s ease;
$nav-link-color: white;
$nav-link-text-decoration: none;

//nav link-hover
$nav-link-hover-color: #69ef26;
$nav-link-hover-border-bottom: 2px solid #69ef26;

//nav link-active
$nav-link-active-color: #69ef26;
$nav-link-active-font-weight: bold;

//input
$input-padding: 6px 12px;
$input-outline: none;

//panel
$panel-padding: 16px;

//products_wrapper
$products-wrapper-display: grid;
$products-wrapper-grid-template-columns: 200px 1fr;

//products_container
$products-container-display: flex;
$products-container-flex-wrap: wrap;
$products-container-gap: 10px;

//product_wrapper
$product-wrapper-display: grid;
$product-wrapper-grid-template-areas: "i i" "n ap" "n p";
$product-wrapper-border-radius: 5px;
$product-wrapper-padding: 5px 0px;
$product-wrapper-background: rgba(1, 1, 1, 0.1);
$product-wrapper-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$product-wrapper-width: fit-content;
$product-wrapper-position: relative;

//product_percentage_active

//product_percentage
$product-percentage-display: none;
$product-percentage-position: absolute;
$product-percentage-top: 5px;
$product-percentage-right: 5px;
$product-percentage-bottom: auto;
$product-percentage-left: auto;
$product-percentage-background: red;
$product-percentage-border-radius: 5px;
$product-percentage-color: #fff;
$product-percentage-padding: 5px 10px;

//product_actual_price_active
$product-actual-price-grid-area: ap;

//product_actual_price
$product-actual-price-display: none;

//product_price_active
$product-price-grid-area: p;
$product-price-color: gray;
$product-price-text-decoration: line-through;

//product_price

//product_name
$product-name-grid-area: n;

//logo_image
$logo-image-font-size: 16px;
$logo-image-text-transform: uppercase;
$logo-image-margin-right: 60px;
$logo-image-transition: all 0.3s ease;
$logo-image-color: white;
$logo-image-text-decoration: none;

//product_image
$product-image-grid-area: i;
$product-image-width: 300px;
$product-image-aspect-ratio: 1;

//background_container
$background-container-position: absolute;
$background-container-top: 50%;
$background-container-left: 50%;
$background-container-transform: translate(-50%, -50%);

//background_content
$background-content-font-size: 20rem;
$background-content-filter: opacity(0.5);
$background-content-color: #eee;

//main_container
$main-container-width: 100%;
$main-container-height: 100%;
$main-container-background: transparent;

//home_container
$home-container-width: 100%;
$home-container-height: 100vh;
$home-container-display: flex;
$home-container-align-items: center;
$home-container-justify-content: center;
$home-container-background-color: #f5f5f5;
$home-container-overflow: hidden;

//slider
$slider-width: 100%;
$slider-height: 100%;
$slider-display: flex;
$slider-align-items: center;
$slider-justify-content: left;
$slider-background: linear-gradient(to right, black , #074100);
$slider-text-align: hidden;
$slider-z-index: 2000;
$slider-position: hidden;

//slider-content
$slider-content-max-width: 600px;
$slider-content-padding: 50px;
$slider-content-margin-top: -150px;
$slider-content-color: white;

//slider-title
$slider-title-font-size: 3rem;
$slider-title-font-weight: bold;
$slider-title-margin-bottom: 0px;
$slider-title-color: white;

//slider-description
$slider-description-font-size: 1rem;
$slider-description-margin-bottom: 30px;
$slider-description-color: #d0d0d0;
$slider-description-line-height: 1.3;

//slider-button
$slider-button-font-size: 0.95rem;
$slider-button-padding:12px 25px;
$slider-button-background-color: #69ef26;
$slider-button-color: white;
$slider-button-border: 0px solid #f15e2c;
$slider-button-border-radius: 20px;
$slider-button-cursor: pointer;
$slider-button-text-decoration: none;
$slider-button-transition: background-color 0.3s;


//slider-button-hover
$slider-button-hover-background-color: #f0e0ff;

// Переменные для .contact-us
$contact-us-font-family: Arial, sans-serif;
$contact-us-color: white;
$contact-us-background: linear-gradient(to right, black, #044100);
$contact-us-display: flex;
$contact-us-width: 100%;
$contact-us-height: 100%;
$contact-us-min-height: 100vh;

// Переменные для .h1
$h1-font-size: 3em;
$h1-margin: 150px 30px 20px 200px;
$h1-position: absolute;

// Переменные для .sale
$sale-width: 100%;
$sale-height: 100%;
$sale-background: #410000;
$sale-color: #010101;
$sale-font-size: 14px;

// Переменные для .content
$content-display: flex;
$content-justify-content: space-between;
$content-align-items: flex-start;
$content-margin-right: -200px;

// Переменные для .login-card
$login-card-margin-left: 42%;

// Переменные для .login-text
$login-text-margin-top: 20px;

// Переменные для h2
$h2-margin: 0;
$h2-font-size: 28px;
$h2-margin-bottom: 20px;

// Переменные для .store-hours
$store-hours-border-left: 3px solid #69ef26;
$store-hours-height: 100%;
$store-hours-padding-left: 10px;
$store-hours-flex: 1;
$store-hours-margin-left: 200px;
$store-hours-margin-top: 250px;

// Переменные для .card
$card-position: relative;
$card-width: 19%;
$card-height: 30%;
$card-margin-right: 300px;
$card-margin-top: 150px;
$card-padding: 20px;
$card-color: #010101;
$card-background: white;
$card-border-radius: 10px;
$card-display: flex;
$card-flex-direction: column;
$card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

// Переменные для .card::before и .card::after
$card-border: 5px solid #69ef26;
$card-size: 30%;
$card-margin: -20px -20px;
$card-before-top: -3px;
$card-before-left: -3px;
$card-before-border-right: none;
$card-before-border-bottom: none;
$card-after-bottom: -3px;
$card-after-right: -3px;
$card-after-border-left: none;
$card-after-border-top: none;

// Переменные для .contact-form
$contact-form-display: flex;
$contact-form-flex-direction: column;

// Переменные для .contact-form label
$contact-form-label-margin-bottom: 10px;

// Переменные для .contact-form input и textarea
$contact-form-input-padding: 10px;
$contact-form-input-margin-top: 5px;
$contact-form-input-width: 80%;
$contact-form-input-border: 1px solid #ccc;
$contact-form-input-border-radius: 5px;
$contact-form-input-outline: none;

// Переменные для .contact-form input:focus и textarea:focus
$contact-form-input-focus-border-color: #877d1f;

// Переменные для .contact-form button
$contact-form-button-margin-top: 20px;
$contact-form-button-padding: 10px;
$contact-form-button-background-color: #28670e;
$contact-form-button-border: none;
$contact-form-button-border-radius: 5px;
$contact-form-button-cursor: pointer;
$contact-form-button-transition: background-color 0.3s;

// Переменные для .contact-form button:hover
$contact-form-button-hover-background-color: #69ef26;