@use "mixins";

$basic-theme: (
        select: mixins.$select,
        select-hover: mixins.$select-hover,
        nav: mixins.$nav,
        nav-horizontal: mixins.$nav-horizontal,
        nav-vertical: mixins.$nav-vertical,
        nav-section: mixins.$nav-section,
        nav-section-left: mixins.$nav-section-left,
        nav-section-right: mixins.$nav-section-right,
        nav-link: mixins.$nav-link,
        nav-link-hover: mixins.$nav-link-hover,
        nav-link-active: mixins.$nav-link-active,
        nav-link-active-hover: mixins.$nav-link-active-hover,
        nav-link-visited: mixins.$nav-link-visited,
);


