@use "maps" as m;

$basic-theme: (
        select: m.$select,
        select-hover: m.$select-hover,
        nav: m.$nav,
        nav-horizontal: m.$nav-horizontal,
        nav-vertical: m.$nav-vertical,
        nav-section: m.$nav-section,
        nav-section-left: m.$nav-section-left,
        nav-section-right: m.$nav-section-right,
        nav-link: m.$nav-link,
        nav-link-hover: m.$nav-link-hover,
        nav-link-active: m.$nav-link-active,
        nav-link-active-hover: m.$nav-link-active-hover,
        nav-link-visited: m.$nav-link-visited,
        input: m.$input,
        panel: m.$panel,
        products-wrapper: m.$products-wrapper,
        products-container: m.$products-container,
        product-wrapper: m.$product-wrapper,
        product-percentage: m.$product-percentage,
        product-percentage-active: m.$product-percentage-active,
        product-actual-price: m.$product-actual-price,
        product-actual-price-active: m.$product-actual-price-active,
        product-price: m.$product-price,
        product-price-active: m.$product-price-active,
        product-name: m.$product-name,
        product-image: m.$product-image,
        background-container: m.$background-container,
        background-content: m.$background-content,
        main-container: m.$main-container,
        logo-image: m.$logo-image
);


