//select
$select-background: #4f4f4f;
$select-color: #fff;
$select-width: 220px;
$select-height: 40px;
$select-font-size: 16px;
$select-cursor: pointer;
$select-display: inline-block;
$select-position: relative;

//nav
$nav-background-image: linear-gradient(to bottom, #ffffff0f, #0000001f);
$nav-border-bottom: 1px solid black;
$nav-height: 60px;
$nav-display: flex;
$nav-horizontal: row;
$nav-vertical: column;
$nav-justify-content: space-between;
$nav-align-items: center;

//nav section
$nav-section-background: transparent;
$nav-section-display: flex;
$nav-section-gap: 10px;
$nav-section-align-items: center;

//nav link
$nav-link-white-spaces: nowrap;
$nav-link-color: #010101;
$nav-link-text-decoration: none;
